<!DOCTYPE html>
<html lang="en">

<head>

    <title>NewsScraper</title>

    <meta charset="utf-8">
    
    <!-- Tab Image -->
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/ballicons-reloaded-free/512/icon-70-512.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="News Scraper">
    <meta name="author" content="Michael Wilson">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>News Scraper</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {{!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> --}}



    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="css/materialize.min.css">

          
    <!-- custom CSS & JS -->
    <link rel="stylesheet" href="css/style.css">
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="css/materialize.css"></script>
    {{!-- <script src="/public/javascripts/init.js"></script> --}}
      <script src="/app.js"></script>


</head>

<body>
    {{{body}}}
</body>

</html>